.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    padding-left: 520px;
    font-family: fantasy;
    font-size: 20px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #007bff;
}

.nav-link {
    color: rgba(0,0,0,.9);
    margin-right: 20px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    padding: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: fantasy;
}

#particles-js{
    background-image: url(./silver-bg.png);
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: -1;
    left: -200px;
}

.container{
    position: relative;
}

#about{
    background-color: blue;
    background-size: cover;
    position: absolute;
    margin: 40px;
    height: 50vh;
    width: 100vw;
    left: -240px;
    right: 0;
}

/* #service{
    background-image: url(./silver-bg.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    margin: 40px;
}
 */




